<%= "I love " + "Ruby!!" %>

<%= 1 + 1 %>

<h1><%= "I love " + "Ruby!!" %></h1>

<% if 1 == 2 %>
  <p>1 equals 2.</p>
<% else %>
  <p>1 does not equal 2.</p>
<% end %>

<ul>
  <% squares = [1, 4, 9, 16] %>
  <% squares.each do |square| %>
    <li><%= square %></li>
  <% end %>
</ul>

<% wall_posts = ["First post!", "Second post!", "Hello, its yor mother. Why don't you ever call me?"] %>
<ul> 
  <% wall_posts.each do |post| %>
    <li><%= post %></li>
  <% end %>
</ul>
